.site-footer
{ 
  background-color:#051b0c;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#bbb;
} 
 

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px ;
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  padding-left:300px;
  letter-spacing:2px
}

.copyright-text
{
  padding-left:1000px;
  color: #fff;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
}






