@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

.background-image4 {
    background: url('C:\Users\Udeera\Desktop\Last Project\final-project-final\src\Components\pages\Customer\WhatsApp Image 2023-10-24 at 2.52.37 PM.jpeg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
  }
  
  .supplier {
    margin-top: 15%;
    padding-bottom: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    text-align: center;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255,255,255,0.1);
    justify-content: center;

  }
  
  .supplier-container {
    padding: 20px;
  }
  
  .form-header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;

  }
  
  button {
    background-color: gray;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
