.navbar {
  background-color: #051b0c; 
}

.navbar-toggler-icon {
  border-color: #fff; 
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #d0ffd6 !important; 
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  margin-right: 10px; /* Adjust the margin as needed */
}

.navbar {
  background-color: #051b0c; 
 
}

.navbar-nav .nav-link {
  margin-right: 20px;
  color: #ffffff; 
}


.navbar img {
  border-radius: 50%; 
  margin-right: 10px;
}


.form-control {
  height: 20%;
  width: 100%;
  border-color: #008080; 
  color: #008080; 
}

.btn-outline-success {
  border-color: #ffffff; 
  color: #ffffff; 
  background-color: #0b38139a;
  width: 50%;
  height: 20%;
}

.navbar .nav-link[href="login"] {
  color: #ffffff; 
}

.navbar .nav-link[href="/"] {
  color: #ffffff; 
}

.navbar .nav-link[href="Location"] {
  color: #ffffff; 
}

.navbar .nav-link[href="partner"] {
  color: #ffffff; 
}

.navbar .nav-link[href="exploreproducts"] {
  color: #ffffff;
}
.navbar .nav-link[href="buyNow"] {

  color: #ffffff; 
}

.navbar .nav-link[href="Dashboard"] {

  color: #ffffff; 
}
.navbar .nav-link[href="loan"] {

  color: #ffffff; 
}

.navbar-nav .nav-link:hover {

  color: #34e26b; 
}


.navbar-tog-icon {
  background-color: #ffffff; 
  border-radius: 4px; 
}

.form-control me-2{
  width: 50%;
  height: 25%;
}

.dropdown-menu{
  background-color: #dcece1;
}
.btn{
  background-color:#051b0c;
 
  
}

.nav-item dropdown{
  padding-top: 10px;
}


.dropdown-tog {
color: white;
}

.dropdown-menu-dark {
background-color: #dcece1;
}

.dropdown-menu-dark .dropdown-item {
color: black; 
}
.ttoggle{
margin-bottom: 43px;
background-color: #051b0c;
}
.ttoggle:hover {
background-color:#051b0c ;
} 
.btn:hover {
background-color:#051b0c ;
} 
.container-fluid{
font-family: Bebas Neue;
}

