

.navbar {
  background-color: #051b0c; 
}

.navbar-toggler-icon {
  border-color: #fff; 
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #d0ffd6 !important; 
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  margin-right: 10px; /* Adjust the margin as needed */
}
