
.navbar {
    background-color: #051b0c; 
   
  }
  
  .navbar-nav .nav-link {
    margin-right: 20px;
    color: #ffffff; 
  }
  
  
  .navbar img {
    border-radius: 50%; 
    margin-right: 10px;
  }
  
  
  .form-control {
    height: 20%;
    width: 100%;
    border-color: #008080; 
    color: #008080; 
  }
  
  .btn-outline-success {
    border-color: #ffffff; 
    color: #ffffff; 
    background-color: #0b38139a;
    width: 50%;
    height: 20%;
  }
  
  .navbar .nav-link[href="login"] {
    color: #ffffff; 
  }
  
  .navbar .nav-link[href="/"] {
    color: #ffffff; 
  }
  
  .navbar .nav-link[href="Location"] {
    color: #ffffff; 
  }
  
  .navbar .nav-link[href="partner"] {
    color: #ffffff; 
  }
  
  .navbar .nav-link[href="exploreproducts"] {
    color: #ffffff;
  }
  .navbar .nav-link[href="buyNow"] {
  
    color: #ffffff; 
  }

  .navbar .nav-link[href="Dashboard"] {
  
    color: #858080; 
  }
  .navbar-nav .nav-link:hover {
  
    color: #00ff62; 
  }
  
  
  .navbar-toggler-icon {
    background-color: #ffffff; 
    border-radius: 4px; 
  }
  
  .form-control me-2{
    width: 50%;
    height: 25%;
  }
  
  
  