
.background-LocationPic {

  background-image: url('C:\Users\ASUS\Downloads\Location.jpg');

 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.locate {
  margin: 20px;
  max-width: 800px; 
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


h1 {
  color: #100f0f;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {


  
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


th {
  background-color: #fbf7f7;
}

tr:hover {
  background-color: #f7f0f0;

}
