.locate {
  margin: 20px;
}


h2 {
  color: #333;
}

.background-LocationPic {
  background-image: url('C:/Users/User/Desktop/Last Project/final-project-final/src/Components/pages/Location/message-112607795-1458515954802555389.png');
 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.locate {
  margin: 20px;
  max-width: 800px; 
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


h1 {
  color: #100f0f;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {

  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;

  border: 1px solid #090909;
  padding: 8px;
  text-align: left;
  font-weight: bold;
}

th {
  background-color: #fbf7f7;
}

tr:hover {
  background-color: #f7f0f0;
}
