.background-imagez{
    
    background: url('C:\Users\User\Desktop\Last Project\final-project-final\src\Components\pages\Monetary\loann.jpeg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.Money {
    position: absolute;
    margin-top: 5%;
    padding-bottom: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    text-align: center;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-40%,-40%);
    top: 50%;
    left: 50%;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255,255,255,0.1);
    justify-content: center;

  }